.minesweeper-app {
    display: flex;
    flex-direction: column;
    background-color: #bdbdbd;
    padding: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #7b7b7b;
    border-right: 2px solid #7b7b7b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    width: max-content;
    margin: 0 auto;
}

.minesweeper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    margin-bottom: 8px;
    border-top: 2px solid #7b7b7b;
    border-left: 2px solid #7b7b7b;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

.digital-display {
    background-color: black;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    padding: 2px 4px;
    border-top: 1px solid #7b7b7b;
    border-left: 1px solid #7b7b7b;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    min-width: 45px;
    text-align: center;
}

.face-button {
    width: 32px;
    height: 32px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bdbdbd;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #7b7b7b;
    border-right: 2px solid #7b7b7b;
    cursor: pointer;
    padding: 0;
}

.face-button:active {
    border-top: 2px solid #7b7b7b;
    border-left: 2px solid #7b7b7b;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

.minesweeper-board {
    border-top: 3px solid #7b7b7b;
    border-left: 3px solid #7b7b7b;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.minesweeper-row {
    display: flex;
}

.minesweeper-cell {
    width: 24px;
    height: 24px;
    background-color: #bdbdbd;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #7b7b7b;
    border-right: 2px solid #7b7b7b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
}

.minesweeper-cell:active:not(.revealed) {
    border: 1px solid #7b7b7b;
    background-color: #bdbdbd;
}

.minesweeper-cell.revealed {
    border: 1px solid #7b7b7b;
    border-right: 1px dotted #7b7b7b;
    border-bottom: 1px dotted #7b7b7b;
    background-color: #bdbdbd;
}

.minesweeper-cell.mine {
    background-color: #bdbdbd;
}

.minesweeper-cell.exploded {
    background-color: red;
}

.num-1 {
    color: #0000ff;
}

.num-2 {
    color: #008000;
}

.num-3 {
    color: #ff0000;
}

.num-4 {
    color: #000080;
}

.num-5 {
    color: #800000;
}

.num-6 {
    color: #008080;
}

.num-7 {
    color: #000000;
}

.num-8 {
    color: #808080;
}